# Ignoring node modules
node_modules/

# Ignoring confidential files
Credentials.txt
shoppyglobe.products.json
shoppyglobe.users.json

# Ignoring log files
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db